@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

h3,
p {
  margin: 0;
}

header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  position: relative;
}

.city {
  background-color: #dddddd;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 0;
}
.city i {
  font-size: 1.3rem;
}

.browse {
  text-align: center;
  margin: 0 auto;
  padding: 2.5rem 12%;
  background-color: #EDEDED;
}
.browse h2 {
  margin-top: 0.5rem;
  font-size: 2rem;
}
.browse p {
  font-size: 1.2rem;
  font-weight: 300;
}
.browse button {
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  box-shadow: 0.2rem 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
  margin: 3rem auto;
  border: none;
  padding: 1.2rem 1.5rem;
  font-size: 1.3rem;
  color: white;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  margin-bottom: 0.5rem;
  transform: scale(1);
  transition: transform 600ms;
}
.browse button:hover {
  transform: scale(1.02);
  filter: brightness(1.2);
  transition: transform 400ms;
  cursor: pointer;
  box-shadow: 0.2rem 0.8rem 0.8rem rgba(0, 0, 0, 0.3);
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disappear 30ms;
  animation-fill-mode: both;
  animation-delay: 3s;
  transform-origin: top;
}
.loader i {
  animation: spin 4s infinite linear;
  color: brown;
  opacity: 1;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
footer {
  margin-top: -2rem;
  background-color: #353535;
  color: white;
  padding: 3rem;
  line-height: 2rem;
  font-size: 16px;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1.5rem;
}
footer i.fas {
  margin-right: 5px;
}

.tuto {
  counter-reset: steps;
  padding: 4rem 2rem;
}
.tuto ol {
  display: flex;
  width: auto;
  gap: 2rem;
  padding: 1rem;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 0.2rem 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
  list-style-position: inside;
  padding: 2.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  transform: scale(1);
  transition: transform 600ms;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  display: grid;
  place-items: center;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  left: 0rem;
  position: absolute;
  top: 49%;
  transform: translate(-50%, -50%);
}
.tuto li:hover {
  transform: scale(1.02);
  filter: brightness(1.02);
  transition: transform 400ms;
  cursor: pointer;
  box-shadow: 0.2rem 0.8rem 0.8rem rgba(0, 0, 0, 0.3);
}
.tuto li#highlight {
  background: #f2eafb;
  font-weight: bold;
  font-size: 1.1rem;
}
.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}
.tuto li i.fas.fa-mobile-alt {
  color: #9356DC;
  text-decoration: dotted;
}

#homepage .menu {
  background-color: #f6f6f6;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
}
#homepage .menu h2 {
  margin-bottom: 1rem;
}
#homepage .menu .menu_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 992px) {
  #homepage .menu .menu_cards {
    grid-template-columns: 1fr;
  }
}
#homepage .menu .menu_cards .new {
  position: relative;
}
#homepage .menu .menu_cards .zoom_effect {
  border-radius: 13px;
  background-color: white;
  transform: scale(1);
  transition: transform 600ms;
}
#homepage .menu .menu_cards .zoom_effect:hover {
  transform: scale(1.02);
  filter: brightness(1.2);
  transition: transform 400ms;
  cursor: pointer;
  box-shadow: 0.2rem 0.8rem 0.8rem rgba(0, 0, 0, 0.3);
}
#homepage .menu .menu_cards .new::before {
  content: "nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 3px;
}
#homepage .menu .card_img {
  height: 15rem;
  width: 100%;
  min-width: 27rem;
  border-radius: 1rem 1rem 0rem 0rem;
  background-size: cover;
}
#homepage .menu .card_img_1 {
  background-image: url(/assets/menu-1.jpg);
}
#homepage .menu .card_img_2 {
  background-image: url(/assets/menu-2.jpg);
}
#homepage .menu .card_img_3 {
  background-image: url(/assets/menu-3.jpg);
}
#homepage .menu .card_img_4 {
  background-image: url(/assets/menu-4.jpg);
}
#homepage .menu .card_desc {
  position: relative;
}
#homepage .menu .card_desc h3,
#homepage .menu .card_desc p {
  margin: 0.5rem;
  margin-left: 15px;
}
#homepage .menu .card_desc h3 {
  padding-top: 1.5rem;
}
#homepage .menu .card_desc p {
  margin-bottom: 2rem;
}
#homepage .menu .card_desc i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
#homepage .menu .card_desc .fas {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 450ms;
}
#homepage .menu .card_desc .fas:hover {
  opacity: 1;
}

@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#resto_pages {
  background-color: #f6f6f6;
  position: relative;
}
#resto_pages header:hover::before {
  transform: scale(1.6);
  transform: translateY(-50%);
}
#resto_pages header::before {
  position: absolute;
  top: 50%;
  left: 1rem;
  content: "\f060";
  transform: translateY(-50%);
  font-weight: 900;
  font-size: 20px;
  font-family: "Font Awesome 5 Free";
  transition: transform 200ms;
}
#resto_pages .banner img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}
#resto_pages .resto_section {
  position: relative;
  background-color: #f6f6f6;
  padding: 1rem 3rem 2rem 2rem;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
}
#resto_pages .resto_section h2 {
  font-family: "Shrikhand", "sans-serif";
  padding: 0rem 1rem;
}
#resto_pages .resto_section i {
  font-size: 2rem;
  position: absolute;
  right: 4rem;
  top: 34%;
}
#resto_pages .resto_section .fas {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 450ms;
}
#resto_pages .resto_section .fas:hover {
  opacity: 1;
}
#resto_pages .resto_main {
  padding: 2rem;
}
#resto_pages .grille_menus {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}
@media (max-width: 992px) {
  #resto_pages .grille_menus {
    grid-template-columns: 1fr;
  }
}
#resto_pages .grille_menus h3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
}
#resto_pages .grille_menus h3::after {
  content: "";
  position: absolute;
  top: 1.7rem;
  left: 0rem;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
#resto_pages .grille_menus .menu_category {
  overflow: hidden;
}
#resto_pages .grille_menus .menu_items {
  display: flex;
  box-shadow: 0.28rem 0.2rem 0.8rem rgba(123, 121, 121, 0.3);
  overflow: hidden;
  margin: 1rem;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  animation: appear 1s;
  animation-fill-mode: backwards;
}
#resto_pages .grille_menus .menu_items:nth-child(1) {
  animation-delay: 100ms;
}
#resto_pages .grille_menus .menu_items:nth-child(2) {
  animation-delay: 200ms;
}
#resto_pages .grille_menus .menu_items:nth-child(3) {
  animation-delay: 300ms;
}
#resto_pages .grille_menus .menu_items .prix {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#resto_pages .grille_menus .menu_items .menu_item_desc {
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#resto_pages .grille_menus .menu_items .menu_item_desc h4,
#resto_pages .grille_menus .menu_items .menu_item_desc p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#resto_pages .grille_menus .menu_items .check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background-color: #99E2D0;
  margin-right: -5rem;
  width: 5rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.7s;
}
#resto_pages .grille_menus .menu_items .check i {
  display: grid;
  place-items: center;
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#resto_pages .grille_menus .menu_items:hover .check {
  margin-right: 0;
}
#resto_pages .grille_menus .menu_items:hover i {
  animation: spin 0.5s ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}
#resto_pages .grille_menus .footer_resto {
  margin-top: 0;
}
#resto_pages section.commander {
  height: 30vh;
  display: grid;
  place-items: center;
}
#resto_pages section.commander button {
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  box-shadow: 0.2rem 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
  margin: 3rem auto;
  border: none;
  padding: 1.2rem 1.5rem;
  font-size: 1.3rem;
  color: white;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  margin-bottom: 0.5rem;
  transform: scale(1);
  transition: transform 600ms;
}
#resto_pages section.commander button:hover {
  transform: scale(1.02);
  filter: brightness(1.2);
  transition: transform 400ms;
  cursor: pointer;
  box-shadow: 0.2rem 0.8rem 0.8rem rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
