@mixin spin {

    @keyframes spin {
        0% {
            transform: rotate(-180deg);
        }

        100% {
            transform: rotate(0);
        }
    }

}

@mixin unspin {
    @keyframes unspin {

        100% {
            transform: rotate(150deg);
        }
    }
}

@keyframes appear {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}